<!-- templates/register.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2 class="text-center mb-4">Register</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.username.label(class="form-control-label") }}
        {{ form.username(class="form-control") }}
        {% for error in form.username.errors %}
          <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.password.label(class="form-control-label") }}
        {{ form.password(class="form-control") }}
        {% for error in form.password.errors %}
          <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.confirm_password.label(class="form-control-label") }}
        {{ form.confirm_password(class="form-control") }}
        {% for error in form.confirm_password.errors %}
          <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary mx-auto d-block">Sign Up</button>
    </form>
    <div class="text-center mt-3">
      Already have an account? <a href="{{ url_for('login') }}">Login here</a>
    </div>
  </div>
{% endblock %}
